/* Général */

body {
  width: 90vw;
  max-width: 1100px;
  margin: auto;
  color: #3c3836;
  background-color: #fbf1c7;
  font-family: sans-serif;
}

/* Outils */

.nav-link {
  text-decoration: none;
}

.nav-link:link, .nav-link:visited {
  color: #af3a03;
}

/* Liens */

a {
  text-decoration: none;
}

a:link {
  color: #076678;
}

a:visited {
  color: #8f3f71;
}

/* Listes */

ul li::marker {
  content: '– ';
}

#recent-article li { /* Avoir assez d’espace entre la liste des liens */
  padding: 1em 0;
}

/* En-tête */

#nav-header {
  margin-bottom: 5vh;
  border-bottom: 2px solid #928374;
  padding: 1em 0;
}

#nav-header nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8rem;
}

/* Contenu principal */

h1 {
  font-size: 2rem;
  text-align: center;
}

article header {
  margin-bottom: 5vh;
}

#article-title {
  font-size: 2.5rem;
  text-align: left;
}

#published {
  font-style: oblique;
}

#update {
  font-weight: bold;
}

/* Pied de page */

footer {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5vh;
  border-top: 2px solid #928374;
  padding: 1em 0;
}

/* Réglages pour tout type d’écran */

@media screen {
  @media (any-pointer: fine) {
    #recent-article li { /* Rétablir les réglages initiaux sur PC */
      padding: unset;
    }
  }

  @media (any-hover: hover) and (any-pointer: fine) { /* Activer les effets des liens seulement sur les terminaux avec pointeurs */
    .nav-link:hover {
      text-decoration: underline;
    }

    a:hover {
      text-decoration: underline;
      color: #79740e;
    }
  }

  @media (min-width: 500px) { /* Augmenter la taille de la police de la barre de navigation */
    #nav-header nav {
      font-size: 1rem;
    }
  }

  @media (min-width: 1100px) { /* Garder une grande marge sur grand écran */
    main {
      margin: auto 15%;
    }
  }

  /* Thème sombre */

  @media (prefers-color-scheme: dark) {
    body {
      color: #ebdbb2;
      background-color: #282828;
    }

    .nav-link:link, .nav-link:visited {
      color: #fabd2f;
    }

    a:link {
      color: #83a598;
    }

    a:visited {
      color: #d3869b;
    }

    @media (any-hover: hover) and (any-pointer: fine) { /* Activer les effets des liens seulement sur les terminaux avec pointeurs */
      a:hover {
      color: #98971a;
      }
    }
  }
}
